<div id="main" class="container">
  <div id="top-nav">
    <ul id="navbar">
    <li>{{#link-to 'home'}}The Zoo{{/link-to}}</li>
    <li>{{#link-to 'animals'}}List Animals{{/link-to}}</li>
    <li>{{#link-to 'home'}}Other Thing{{/link-to}}</li>
    </ul>
  </div>

  <div class="content">
    {{outlet}}
  </div>